<!DOCTYPE html>
<html>
<head>
    <title>Shoe Details</title>
</head>
<body>
    <h1><%= shoe.brand %></h1>
    <p><%= shoe.description %></p>
    <img src="<%= shoe.image_url %>" alt="Shoe Image">
    <p>Price: <%= shoe.price %></p>
</body>
</html>
